<div class="row">
	<main class="col-md-12">



		<!-- Start your code here -->
		<div class="greetings">
			<h4>Welcome to my website. I will be showcasing HTML5 principles and techniques, as well as routing in Express and other essential web development practices.</h4>
		</div>
		
		<div class="about-me">
			<h3>Who am I</h3>
			<p>
				My name is Chinyere Vanessa Arinze Nkem , and I am a student enrolled in the Business Information Technology program at Seneca Polytechnic. My student ID is cvarinze-nkem. I have a strong interest in web development and enjoy working on projects that incorporate modern technologies like HTML5 and Express. I am eager to share my knowledge and skills through this website, which showcases my ability to create dynamic, responsive, and user-friendly web applications. In addition to my academic pursuits, I am involved in [mention any relevant activities, clubs, or projects], which further enhance my learning experience and professional development.
			</p>
		</div>
		<!-- End your code here  -->



	</main>
</div>