<div class="row">
	<main class="col-md-12">



		<!-- Start your code here -->
		<div class="greetings">
			<h4>Welcome to my website. I will be showcasing HTML5 principles and techniques, as well as routing in Express and other essential web development practices.</h4>
		</div>

		<div class="about-site">
			<h2>About the Site</h2>
			<p>
				Welcome to my website. This site consists of 3 static views: <a href="/home">Home</a>, <a href="/about">About</a>, and <a href="/htmlDemo">HTML Demo</a>. Additionally, it features 5 routes that supply data: <a href="/students">All Students</a>, <a href="/students?course=4">Students by Course</a>, <a href="/student/30">A Single Student by Student Number</a>, <a href="/tas">All Managers</a>, and <a href="/courses">All Courses</a>. Explore these pages to learn more about the content and functionalities offered.
			</p>
		</div>

		<div class="about-html">
			<h2>About HTML5 Markup</h2>
			<p>
				This site utilizes HTML5, a powerful markup language used for structuring and presenting content on the World Wide Web. HTML5 introduces new elements and attributes that support multimedia, improve semantic structure, and enhance web performance. By leveraging HTML5, this site offers a dynamic and responsive user experience, making it accessible across various devices and platforms. Some of these tags include <code>table</code> for Table, <code>video</code> for Video, <code>img</code> for Images
			</p>
		</div>
		<!-- End your code here  -->



	</main>
</div>