<div class="row">
	<main class="col-md-12">



		<!-- Start your code here -->
		<div class="top-margin mytable">
			<h3>Table</h3>
			<table border="1">
				<caption>List of Country with Football</caption>
				<thead>
					<tr>
						<th>no.</th>
						<th>Country</th>
						<th>Games Played</th>
						<th>Games Lost</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>1</td>
						<td>USA</td>
						<td rowspan="3">3</td>
						<td>2</td>
					</tr>
					<tr>
						<td>2</td>
						<td>Canada</td>
						<td>0</td>
					</tr>
					<tr>
						<td>3</td>
						<td>UK</td>
						<td>2</td>
					</tr>
					<tr>
						<td>4</td>
						<td>Brazil</td>
						<td>4</td>
						<td>1</td>
					</tr>
				</tbody>
				<tfoot>
					<tr>
						<td colspan="2">Totals</td>
						<td>13</td>
						<td>6</td>
					</tr>
				</tfoot>
			</table>

			<table border="1">
				<caption>Olympics Games Sheet</caption>
				<thead>
					<tr>
						<th>no.</th>
						<th>Country</th>
						<th>Games Played</th>
						<th>Position</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>1</td>
						<td>Nigeria</td>
						<td>3</td>
						<td>1st</td>
					</tr>
					<tr>
						<td>2</td>
						<td>Canada</td>
						<td>2</td>
						<td rowspan="2">2nd</td>
					</tr>
					<tr>
						<td>3</td>
						<td>USA</td>
						<td>2</td>
					</tr>
					<tr>
						<td>4</td>
						<td>Ghana</td>
						<td>3</td>
						<td>4th</td>
					</tr>
				</tbody>
				<tfoot>
					<tr>
						<td>Signed</td>
						<td colspan="3"> Signed by Vanessa</td>
					</tr>
				</tfoot>
			</table>
			<p>
				HTML tables are used to display data in a tabular format, making it easy to organize and present information systematically. The <code>table</code> element is the container for table data, with <code>tr</code> defining table rows, <code>th</code> specifying header cells, and <code>td</code> indicating standard data cells. Tables are useful for comparing data, creating schedules, and structuring complex information, enhancing the clarity and readability of content on web pages.
			</p>
		</div>

		<div class="top-margin mylist">
			<div class="top-margin myimages">
				<h3>List</h3>
				<ul>
					<li>USA</li>
					<li>Nigeria</li>
					<li>Ghana</li>
					<li>
						Canada
						<ol>
							<li>Ontario</li>
							<li>British Columbia</li>
							<li>Quebec</li>
							<li>Newfoundland</li>
						</ol>
					</li>
					<li>Mexico</li>
					<li>UK</li>
					<li>France</li>
				</ul>
				<p>
					The HTML <code>ol</code> and <code>ul</code> tags allows you to create a structured list. <code>ol</code> creates an ordered list starting from 1,2,3 ... while <code>ul</code> creates an unordered list. The list items are defined by <code>li</code>
				</p>
			</div>
		</div>

		<div class="top-margin myimages">
			<h3>Images</h3>
			<img src="https://upload.wikimedia.org/wikipedia/commons/6/69/Snowboarder_in_halfpipe.jpg"  style="width: 320px; height: 240px;"/>
			<img src="https://images.pexels.com/photos/1563355/pexels-photo-1563355.jpeg"  style="width: 320px; height: 240px;"/>
			<img src="https://images.pexels.com/photos/1519088/pexels-photo-1519088.jpeg"  style="width: 320px; height: 240px;"/>
			<p>
				The HTML <code>img</code> tag allows you to embed image content directly into web pages, enhancing user engagement with multimedia experiences. This tag supports various formats, and includes attributes like <code>width</code> for image width, <code>height</code> for image height, and <code>class</code> for extra styling.
			</p>
		</div>

		<div class="top-margin myaudio">
			<h3>Audio</h3>
			<audio width="320" height="240" controls>
				<source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-audio.mp3" type="video/mp3">
				<source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-audio.ogg" type="video/ogg">
				Your browser does not support the video tag.
			</audio>
			<p>
				The HTML <code>audio</code> tag allows you to embed audio content directly into web pages, enhancing user engagement with multimedia experiences. This tag supports various formats such as MP3, and Ogg, and includes attributes like <code>controls</code> for playback control, <code>autoplay</code> to start the video automatically, and <code>loop</code> for continuous play.
			</p>
		</div>

		<div class="top-margin myvideo">
			<h3>Video</h3>
			<video width="320" height="240" controls>
				<source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-video.mp4" type="video/mp4">
				<source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-video.ogg" type="video/ogg">
				<source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-video.webm" type="video/webm">
				Your browser does not support the video tag.
			</video>
			<p>
				The HTML <code>video</code> tag allows you to embed video content directly into web pages, enhancing user engagement with multimedia experiences. This tag supports various formats such as MP4, WebM, and Ogg, and includes attributes like <code>controls</code> for playback control, <code>autoplay</code> to start the video automatically, and <code>loop</code> for continuous play.
			</p>
		</div>
		<!-- End your code here  -->



	</main>
</div>